<figure
    x-data="{ animation: '' }"
    @click="animation.stop(), animation.play(){{ audio ?= ', $refs.audio.play()' }}"
    x-init="
        animation = lottie.loadAnimation({
            container: $el,
            renderer: 'svg',
            autoplay: {{ intersect ? 'false' : 'true' }},
            loop: {{ loop ? 'true' : 'false' }},
            path: '{{ animation }}'
        })
        animation.setSpeed({{ playback_speed ?? '1.0' }})
    "
    {{ if intersect }}
        x-intersect:enter.full="animation.play()"
        x-intersect:leave="animation.stop()"
    {{ /if }}
    class="{{ class }} text-neutral dark:text-white fill-current-cascade stroke-current-cascade cursor-pointer"
    aria-hidden="true"
    x-cloak
>
    {{ if audio }}
        <audio x-ref="audio">
            <source src="{{ audio }}" type="audio/mpeg">
        </audio>
    {{ /if }}
</figure>
