<div
    class="absolute inset-0 z-behind w-full flex justify-center items-center select-none pointer-events-none"
    x-data="{ visible: false }"
    {{ if intersect }}
        x-intersect:enter="visible = true"
        x-intersect:leave="visible = false"
    {{ /if }}
    aria-hidden="true"
    x-cloak
>
    <span
        class="max-w-[20ch] uppercase tracking-wider font-light text-8xl text-neutral-light dark:text-neutral-light/10 text-center"
        x-show="visible"
        x-transition.opacity.duration.1400ms
    >
        {{ block:background_text }}
            {{ value }}
            {{ unless last }}
                <br>
            {{ /unless }}
        {{  /block:background_text }}
    </span>
</div>
