{{#
	@name Button attributes
	@desc A single button component. Faux is used when a button is displayed inside a link (for example in link blocks).
    @param* label The caption label.
    @param as The wrapping element. Defaults to `a`.
    @param faux Boolean. For faux button wrapped in an actual button/anchor.
#}}

<!-- /components/_button.antlers.html -->
{{ if label }}
    <{{ as or 'a' }}
        {{ slot:attributes }}
        class="p-1 -m-1 rounded flex space-x-1 items-baseline font-medium text-neutral dark:text-white focus:outline-none focus-visible:ring ring-primary dark:ring-secondary leading-none underline underline-offset-4 decoration-dotted decoration-2 decoration-primary dark:decoration-secondary hover:text-primary hover:dark:text-secondary motion-safe:transition {{ class }}"
        {{ !faux ?= { partial:snippets/button_attributes } }}
    >
        <span>
            {{ label }}
        </span>
        {{ if target_blank }}
            {{ svg:external class="ml-1 w-3 h-3 fill-neutral dark:fill-white" }}
        {{ elseif button_icon }}
            {{ svg :src="button_icon" class="ml-1 w-3 h-3 fill-current" }}
        {{ /if }}
    </{{ as or 'a' }}>
{{ /if }}
<!-- End: /components/_button.antlers.html -->
