{{#
	@name Code
	@desc The Code component.
    @set page.article.code
#}}

<!-- /components/_code.antlers.html -->
<div
    class="
        not-prose
        {{ switch(
            (size == 'md') => 'size-md',
            (size == 'lg') => 'size-lg',
            (size == 'xl') => 'size-xl',
            () => 'size-md'
        )}}
    "
>
    {{ code_snippet }}
        {{ partial:components/torchlight }}
    {{ /code_snippet }}
    {{ partial:typography/caption as="span" }}
</div>

{{ once }}
    {{ section:attribution }}
        <!-- /components/_code.antlers.html -->
        <aside class="fluid-container grid grid-cols-12">
            <div class="size-md">
                <div class="flex items-baseline text-neutral dark:text-white scale-75 origin-left">
                    <span>Code highlighting by: </span>
                    {{ partial:components/button label="Torchlight" target_blank="true" link_type="url" url="https://torchlight.dev" }}
                </div>
            </div>
        </aside>
        <!-- End: /components/_code.antlers.html -->
    {{ /section:attribution }}
{{ /once }}
<!-- End: /components/_code.antlers.html -->
