{{#
	@name Code
	@desc The Code component.
    @set page.article.code
#}}

<!-- /components/_code.antlers.html -->
<div
    class="
        not-prose
        {{ switch(
            (size == 'md') => 'size-md',
            (size == 'lg') => 'size-lg',
            (size == 'xl') => 'size-xl',
            () => 'size-md'
        )}}
    "
>
    {{ code }}
        {{ partial:components/torchlight }}
    {{ /code }}

    {{ partial:typography/caption as="span" }}
</div>

{{ once }}
    {{ section:attribution }}
        <!-- /components/_code.antlers.html -->
        <aside class="size-md text-neutral dark:text-white text-xs">
            Code highlighting by: <a rel="noopener" target="_blank" href="https://torchlight.dev">Torchlight</a>
        </aside>
        <!-- End: /components/_code.antlers.html -->
    {{ /section:attribution }}
{{ /once }}
<!-- End: /components/_code.antlers.html -->
