{{#
	@name Green dot
	@desc The green dot component.
    @set page.title_and_text.green_dot
#}}

<!-- /components/_green_dot.antlers.html -->
<div class="{{ !no_sizing ?= 'size-md' }} flex items-center space-x-2">
    <div class="w-3 h-3 rounded-full bg-primary dark:bg-secondary"></div>
    {{
        partial:typography/title
        content="
            { label_type === 'custom_text'
                ? { label }
                : { trans:strings.footer_availability month="{ configuration:availability_from | format_localized('%B %Y') }" }
            }
        "
    }}
</div>
<!-- End: /components/_green_dot.antlers.html -->
