{{#
	@name Journal entry
	@desc The journal entry component for listing a single journal entry.
#}}

<!-- /components/_journal_entry.antlers.html -->
<div class="flex flex-col space-y-6">
    <span class="uppercase text-sm font-medium {{ color or 'text-primary dark:text-secondary' }} tracking-wider">{{ trans:strings.journal }}<span aria-hidden="true"> \</span></span>
    <h2 {{ if generate_id }}:id="$id('project-title')"{{ /if}} class="md:max-w-[calc(85%-4rem)] text-4xl md:text-5xl uppercase tracking-wider {{ color or 'text-primary dark:text-secondary' }}">
        {{ journal_entry:title }}
    </h2>
</div>
<div class="flex flex-col items-start md:flex-row gap-6 md:gap-16">
    <ul class="md:max-w-[calc(85%-4rem)] inline-flex md:justify-end flex-wrap uppercase text-sm font-medium {{ color or 'text-primary dark:text-secondary' }} tracking-wider">
        {{ journal_entry:tags as="tags" }}
            {{ tags }}
                <li class="ml-[.5ch]">{{ title }}{{ unless last }}<span aria-hidden="true">, </span>{{ /unless }}</li>
            {{ /tags }}
        {{ /journal_entry:tags }}
    </ul>
</div>
<!-- End: /components/_journal_entry.antlers.html -->
