{{#
	@name Journal entry introduction
	@desc The journal entry component used on project show entries.
#}}

<!-- /components/_journal_entry_introduction.antlers.html -->
<div class="fluid-container md:text-center">
    {{ partial:typography/h1 :content="title" class="mb-8 pr-12 md:pr-0" }}

    <aside class="text-neutral dark:text-white">
        <time class="inline-block mb-2" lang="{{ locale }}">{{ date | format_localized('%e %B %Y') }}</time>, {{ trans:strings.journal_by }} {{ author:name }}

        <div class="font-medium text-xs uppercase tracking-wider text-primary dark:text-secondary">
            {{ tags | pluck('title') | list }}
        </div>
    </aside>
</div>
<!-- End: /components/_journal_entry_introduction.antlers.html -->
