{{#
	@name Journal entry random
	@desc The journal entry component fetching a random project that is not the current entry.
#}}

<!-- /components/_journal_entry_random.antlers.html -->
{{ collection:journal as="post" limit="1" :taxonomy:tags="tags" sort="random" :id:isnt="id" }}
    {{ unless post }}
        {{ post = { collection:journal limit="1" sort="random" :id:isnt="page:id" } }}
        {{ background_text = ['More','to','read'] }}
    {{ else }}
        {{ background_text = ['Related','content'] }}
    {{ /unless }}

    {{ post }}
        <section
            x-data=""
            x-id="['entry-title']"
            class="relative fluid-container grid md:grid-cols-12 md:gap-8 {{ yield:background_text_compensation }}"
        >
            <a
                href="{{ url }}"
                class="relative md:col-span-8 lg:col-span-6 border border-primary dark:border-secondary p-6  md:p-8 flex flex-col gap-y-8 justify-between focus:outline-none focus-visible:ring-2 ring-offset-2 ring-offset-white dark:ring-offset-neutral ring-primary dark:ring-secondary group"
                :aria-labelledby="$id('entry-title')"
                draggable="false"
            >
                {{ scope:journal_entry }}
                    {{ partial:components/journal_entry_content max_width="false" }}
                {{ /scope:journal_entry }}
                <div
                    class="hidden md:flex absolute inset-0 bg-primary dark:bg-secondary p-6 pb-12 md:p-8 flex-col space-y-8 justify-between motion-safe:transition-[clip-path] motion-safe:duration-500 ease-out [clip-path:circle(20%_at_120%_120%)] group-hover:[clip-path:circle(170%_at_120%_120%)]" aria-hidden="true"
                >
                    {{ scope:journal_entry }}
                        {{ partial:components/journal_entry_content max_width="false" color="text-white" }}
                    {{ /scope:journal_entry }}
                </div>
            </a>

            {{ partial:components/background_text background_text_position="start" }}
        </section>
    {{ /post }}
{{ /collection:journal }}
<!-- End: /components/_journal_entry_random.antlers.html -->
