{{#
	@name Logo
	@desc The logo component with a `width` attribute.
#}}

<!-- /components/_logo.antlers.html -->
<a
	class="p-1 -m-1 focus:outline-none focus-visible:ring-2 ring-primary dark:ring-secondary motion-safe:transition"
	aria-label="{{ trans:strings.home }}"
	href="{{ site:url }}"
>
	<span class="" aria-label="{{ config:app:name }} logo" role="img">
    	{{ svg:logo class="select-none text-primary dark:text-secondary {{ class }}" width="{{ width }}" aria-hidden="true" }}
	</span>
</a>
<!-- End: /components/_logo.antlers.html -->
