<div class="flex flex-col">
    <span class="uppercase font-sm tracking-wider {{ color or 'text-primary dark:text-secondary' }}">{{ sub_title }}</span>
    <h3 :id="$id('project-title')" class="text-4xl font-light uppercase tracking-wider {{ color or 'text-primary dark:text-secondary' }}">
        {{ title }}
    </h3>
</div>
{{ svg:external_big class="flex-shrink-0 hidden md:block w-8 h-8 {{ color or 'text-primary dark:text-secondary' }} fill-current opacity-0  group-hover:opacity-100 motion-safe:transition-opacity" }}
