<div class="flex space-x-1 items-center w-full h-8 px-3 rounded-t-lg border border-b-0 border-primary dark:border-secondary bg-white dark:bg-neutral">
    <div class="w-3 h-3 rounded-full border border-primary dark:border-secondary motion-safe:transition" :class="{ 'bg-[#FF5E57] border-neutral/20 dark:border-white/20': hover }"></div>
    <div class="w-3 h-3 rounded-full border border-primary dark:border-secondary motion-safe:transition" :class="{ 'bg-[#FEBC2E] border-neutral/20 dark:border-white/20': hover }"></div>
    <div class="w-3 h-3 rounded-full border border-primary dark:border-secondary motion-safe:transition" :class="{ 'bg-[#28CC40] border-neutral/20 dark:border-white/20': hover }"></div>
</div>
