{{#
	@name Projects index
	@desc The Projects index template.
#}}

<!-- /projects/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>

{{ section:index_content }}
    <!-- /projects/index.antlers.html -->
    {{ collection:projects sort="date:desc" paginate="true" limit="5" as="items" }}
        {{ unless no_results }}
            {{# Thanks John Koster for this gem. #}}
            {{
                full = items where (project_type == 'full')
                list = items where (project_type == 'list') orderby (date 'desc');
            }}

            {{ full }}
                {{ scope:project }}
                    {{ partial:components/project }}
                {{ /scope:project }}

                {{ if next.last }}
                    <div class="fluid-container grid lg:grid-cols-12 lg:gap-8">
                        {{ partial:components/project_list class="md:col-span-7 flex flex-col justify-start" :projects="list" }}
                    </div>
                {{ /if }}
            {{ /full }}

            {{ if !full }}
                <div class="fluid-container grid lg:grid-cols-12 lg:gap-8">
                    {{ partial:components/project_list class="md:col-span-7 flex flex-col justify-start" :projects="list" }}
                </div>
            {{ /if }}
        {{ else }}
            <div class="fluid-container text-center">
                {{ trans:strings.no_results }}
            </div>
        {{ /unless }}

        {{ partial:components/pagination class="fluid-container" }}
    {{ /collection:projects }}
    <!-- End: /projects/index.antlers.html -->
{{ /section:index_content }}
<!-- End: /projects/index.antlers.html -->
