{{#
	@name Projects index
	@desc The Projects index template.
#}}

<!-- /projects/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>

{{ section:index_content }}
    <!-- /projects/index.antlers.html -->
    {{ collection:projects sort="date:desc" paginate="true" limit="10" as="items" }}
        {{ unless no_results }}
            {{ items }}
                {{ scope:project }}
                    {{ partial:components/project }}
                {{ /scope:project }}
            {{ /items }}
        {{ else }}
            <div class="fluid-container text-center">
                {{ trans:strings.no_results }}
            </div>
        {{ /unless }}

        {{ partial:components/pagination class="fluid-container" }}
    {{ /collection:projects }}
    <!-- End: /projects/index.antlers.html -->
{{ /section:index_content }}
<!-- End: /projects/index.antlers.html -->
