{{#
	@name Projects index
	@desc The Projects index template.
#}}

<!-- /projects/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>

{{ section:index_content }}
    <!-- /projects/index.antlers.html -->
    {{ collection:projects sort="date:desc" paginate="true" limit="10" as="items" }}
        {{ unless no_results }}
            {{ items group_by="project_type" }}
                {{ groups }}
                    {{ if group === 'full' }}
                        {{ items }}
                            {{ scope:project }}
                                {{ partial:components/project }}
                            {{ /scope:project }}
                        {{ /items }}
                    {{ else }}
                        <div class="fluid-container grid lg:grid-cols-12 lg:gap-8">
                            {{ partial:components/project_list class="md:col-span-7 flex flex-col justify-start" :projects="items" }}
                        </div>
                    {{ /if }}
                {{ /groups }}
            {{ /items }}
        {{ else }}
            <div class="fluid-container text-center">
                {{ trans:strings.no_results }}
            </div>
        {{ /unless }}

        {{ partial:components/pagination class="fluid-container" }}
    {{ /collection:projects }}
    <!-- End: /projects/index.antlers.html -->
{{ /section:index_content }}
<!-- End: /projects/index.antlers.html -->
