{{#
	@name Header
	@desc The sites header rendered on each page.
#}}

<!-- /layout/_header.antlers.html -->
<header class="relative md:sticky md:z-40 top-0 w-full pt-6 md:py-4 md:bg-white/90 md:backdrop-blur-lg md:backdrop-saturate-150 md:dark:bg-neutral/90 md:firefox:bg-white md:firefox:dark:bg-neutral">
    <div class="fluid-container flex justify-between items-start md:items-center gap-4 lg:gap-8">
        {{ partial:components/logo_desktop width="120" class="h-8 lg:h-12 w-auto" }}
        {{ partial:navigation/main_desktop }}
        {{ partial:navigation/utilities }}
        {{ partial:components/logo_mobile width="40" class="w-10 h-auto" }}
    </div>
</header>
<div
    x-data="{ visible: false }"
    x-show="visible"
    x-transition:enter="ease-out"
    x-transition:enter-start="opacity-0 -translate-y-full"
    x-transition:enter-end="opacity-100 translate-y-0"
    x-transition:leave="ease-in"
    x-transition:leave-start="opacity-100 translate-y-0"
    x-transition:leave-end="opacity-0 -translate-y-full"
    @scroll.window="visible = window.pageYOffset > 100"
    class="hidden md:block fixed inset-x-32 top-8 h-8 shadow-2xl shadow-neutral/20 dark:shadow-black/40 transition duration-1000"
    aria-hidden="true"
></div>
{{ partial:navigation/main_mobile }}
<!-- End: /layout/_header.antlers.html -->
