{{#
	@name Language picker
	@desc A language picker when you use multisite. To enable this do the following:
    1. Add `{{ partial:navigation/language_picker }}` as the last list item in the main ul in `resources/views/navigation/_main.antlers.html`.
#}}

<!-- /navigation/_language_picker.antlers.html -->
<li
    class="relative leading-none"
>
    {{ locales all="true" self="false"  }}
        <a
            href="{{ permalink }}"
            aria-label="{{ trans:strings.language :language="locale:name" }}"
            class="flex items-center space-x-2 py-2 px-3 rounded-full hover:bg-white hover:dark:bg-white hover:text-neutral hover:shadow-top uppercase text-xs text-neutral dark:text-white dark:hover:text-neutral tracking-wider whitespace-nowrap focus:outline-none focus-visible:ring-2 ring-primary dark:ring-secondary motion-safe:transition-all group"
        >
            {{ svg src="{locale:short}" class="w-4 h-4 rounded-full grayscale group-focus-visible:grayscale-0 group-hover:grayscale-0 motion-safe:transition" }}
            <span>{{ locale:short }}</span>
        </a>
    {{ /locales }}
</li>
<!-- End: /navigation/_language_picker.antlers.html -->
