{{#
	@name Main mobile navigation
	@desc The sites main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_mobile.antlers.html -->
<nav
    x-data="{ mobileNavOpen: false }"
    class="md:hidden"
    aria-label="{{ trans:strings.main_navigation }}"
    x-cloak
>
    <button
        @click.prevent="mobileNavOpen = !mobileNavOpen"
        class="fixed shadow bottom-0 right-0 z-20 flex space-x-2 items-center mr-3 mb-safe py-2 pl-5 pr-3 rounded-full bg-white dark:bg-neutral focus:outline-none focus-visible:ring-2 ring-primary dark:ring-secondary ring-offset-2"
        :aria-label="
        mobileNavOpen
            ? '{{ trans:strings.nav_close }}'
            : '{{ trans:strings.nav_open }}'
        "
        :aria-expanded="mobileNavOpen"
    >
        <span
            class="relative z-10 uppercase tracking-wide text-lg motion-safe:transition-colors"
            :class="{ 'text-white': mobileNavOpen, 'text-neutral dark:text-white': !mobileNavOpen }"
            x-text="mobileNavOpen ? '{{ trans:strings.close }}' : '{{ trans:strings.menu }}'"
        ></span>
        <div
            class="relative z-10 w-5 h-5 rounded-full motion-safe:transition-colors motion-safe:duration-500 motion-safe:animate-pulsate"
            :class="{ 'bg-white dark:bg-white': mobileNavOpen, 'bg-primary dark:bg-secondary': !mobileNavOpen }"
            aria-hidden="true"
        ></div>
        <div
            class="absolute w-64 h-64 top-1/2 right-0 -translate-y-1/2 translate-x-[6.5rem] rounded-full bg-primary dark:bg-secondary motion-safe:transition-transform motion-safe:duration-500 scale-[.06] motion-safe:ease-[cubic-bezier(.25,-0.7,.25,2)]"
            :class="{ 'scale-100': mobileNavOpen, 'scale-[.06]': !mobileNavOpen }"
            aria-hidden="true"
        ></div>
    </button>

    <div
        class="fixed inset-0 z-10 p-6 pr-4 flex flex-col justify-between space-y-8 bg-white dark:bg-neutral motion-safe:transition-all motion-safe:duration-700"
        x-show="mobileNavOpen"
        x-transition:enter="ease-out"
        x-transition:enter-start="[clip-path:circle(0%_at_85vw_90vh)]"
        x-transition:enter-end="[clip-path:circle(150%_at_85vw_90vh)]"
        x-transition:leave="ease-in"
        x-transition:leave-start="[clip-path:circle(150%_at_85vw_90vh)]"
        x-transition:leave-end="[clip-path:circle(0%_at_85vw_90vh)]"
        x-trap.inert.noscroll="mobileNavOpen"
        x-cloak
    >
        <div class="flex justify-between items-start">
            {{ partial:navigation/utilities }}
            {{ partial:components/logo_mobile width="40" class="w-10 h-auto" }}
        </div>

        <div class="overflow-y-auto overflow-x-hidden">
            <ul class="flex flex-col">
                {{ nav:main max_depth="2" include_home="true" }}
                    <li
                        {{ if children }}
                            x-data="{ subnavOpen: false }"
                            @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
                        {{ /if }}
                        class="leading-none"
                    >
                        <a
                            class="w-full py-2 flex items-baseline space-x-2 font-title text-5xl hover:text-primary dark:hover:text-secondary {{ is_current || is_parent ? 'text-primary dark:text-secondary' : 'text-neutral dark:text-white' }} focus:outline-none focus-visible:ring-2 ring-primary dark:ring-secondary group"
                            {{ if children }}
                                href="#"
                                @click.prevent="subnavOpen = !subnavOpen"
                                @click.outside="subnavOpen = false"
                                :aria-label="subnavOpen
                                    ? '{{ trans:strings.subnav_close }}'
                                    : '{{ trans:strings.subnav_open }}'"
                                :aria-expanded="subnavOpen"
                            {{ else }}
                                href="{{ url }}"
                            {{ /if }}
                        >
                            <span>{{ title }}</span>
                            {{ if children }}
                                <div
                                    class="relative bottom-1 w-0 h-0 border-l-8 border-r-8 border-l-transparent border-r-transparent border-t-[14px] motion-safe:transition {{ is_current || is_parent ? 'border-t-primary dark:border-t-secondary' : 'border-t-neutral dark:border-t-white group-hover:border-t-primary dark:group-hover:border-t-secondary' }}"
                                    :class="{ '[transform:scale(1,-1)]': subnavOpen }"
                                    aria-hidden="true"
                                ></div>
                            {{ /if }}
                        </a>
                        {{ if children }}
                            <ul
                                x-show="subnavOpen"
                                x-ref="subnav"
                                class="flex flex-col items-stretch space-y-2"
                                x-collapse
                                x-cloak
                            >
                                {{ children }}
                                    <li class="{{ first ?= 'mt-2' }}">
                                        <a
                                            class="block py-2 whitespace-nowrap font-medium underline underline-offset-4 decoration-primary dark:decoration-secondary decoration-dotted decoration-2 {{ is_current || is_parent ? 'text-primary dark:text-secondary' : 'text-neutral dark:text-white hover:text-primary dark:hover:text-secondary' }} focus:outline-none focus-visible:ring-2 ring-primary dark:ring-secondary"
                                            href="{{ url }}">
                                            {{ title }}
                                        </a>
                                    </li>
                                {{ /children }}
                            </ul>
                        {{ /if }}
                    </li>
                {{ /nav:main }}
            </ul>
            <div class="mt-8 flex flex-col space-y-3">
                <b class="mb-1 font-semibold text-lg text-neutral dark:text-white">{{ configuration:copyright_name ?? config:app:name }}</b>
                {{ partial:components/button label="{ configuration:phone }" link_type="tel" tel="{ configuration:phone }" class="mb-2" }}
                {{ partial:components/button label="{ configuration:email }" link_type="email" email="{ configuration:email }" class="mb-2" }}
            </div>
        </div>
    </div>
</nav>
<!-- End: /navigation/_main_mobile.antlers.html -->
