{{#
	@name Main desktop navigation
	@desc The sites main desktop navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_desktop.antlers.html -->
<nav class="hidden md:block" aria-label="{{ trans:strings.main_navigation }}">
    <ul class="flex items-center space-x-12">
        {{ nav:main max_depth="2" include_home="true" }}
            <li
                {{ if children }}
                    x-data="{ subnavOpen: false }"
                    @keyup.escape.window="(subnavOpen === true) && $refs.subnav.classList.add('animate-up'), subnavOpen = false"
                    @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false) && $refs.subnav.classList.add('animate-up')"
                    x-cloak
                {{ /if }}
                class="relative leading-none"
            >
                <a
                    class="relative z-10 py-1 px-2 -my-1 -mx-2 flex items-center rounded-full font-medium text-base uppercase tracking-widest text-neutral dark:text-white focus:outline-none focus-visible:ring-2 ring-primary dark:ring-secondary motion-safe:transition {{ is_current || is_parent ?= 'after:absolute after:z-behind after:h-[3px] after:-inset-x-0 after:bg-primary dark:after:bg-secondary' }}"
                    {{ if children }}
                        href="#"
                        @click.prevent="subnavOpen = !subnavOpen, !subnavOpen && $refs.subnav.classList.add('animate-up')"
                        :aria-label="subnavOpen
                            ? '{{ trans:strings.subnav_close }}'
                            : '{{ trans:strings.subnav_open }}'"
                        :aria-expanded="subnavOpen"
                        :class="{ 'text-white': subnavOpen, 'text-neutral': !subnavOpen }"
                        @click.outside="(subnavOpen === true) && $refs.subnav.classList.add('animate-up'), subnavOpen = false"
                    {{ else }}
                        href="{{ url }}"
                    {{ /if }}
                >
                    {{ title }}
                    {{ if children }}
                        <span :class="{ '-rotate-180 text-white': subnavOpen, 'text-neutral dark:text-white': !subnavOpen }" class="ml-1 motion-safe:transition">
                            {{ svg:arrow class="w-3 h-3 overflow-visible fill-current" aria-hidden="true" }}
                        </span>
                    {{ /if }}
                </a>
                {{ if children }}
                    <ul
                        x-ref="subnav"
                        class="absolute opacity-0 -top-4 -inset-x-6 pt-12 pb-4 px-4 bg-primary dark:bg-secondary rounded-lg -translate-y-full"
                        :class="{ 'motion-safe:animate-down': subnavOpen }"
                    >
                        {{ children }}
                            <li class="">
                                <a
                                    class="block whitespace-nowrap py-3 px-2 rounded text-light hover:text-neutral focus:outline-none focus-visible:ring-2 ring-white {{ is_current || is_parent ? 'text-neutral' : 'text-white' }}"
                                    href="{{ url }}"
                                >
                                    {{ title }}
                                </a>
                            </li>
                        {{ /children }}
                    </ul>
                {{ /if }}
            </li>
        {{ /nav:main }}
    </ul>
</nav>
<!-- End: /navigation/_main_desktop.antlers.html -->
