{{#
	@name Skip to content button
	@desc The first button that pops up when a user tabs. This enables them to skip directly to the content.
#}}

<!-- /navigation/_skip_to_content.antlers.html -->
<a class="fixed z-50 hidden md:block top-0 left-8 py-2 px-4 rounded-full bg-neutral dark:bg-white shadow-xl text-sm text-white dark:text-neutral uppercase tracking-widest -translate-y-24 opacity-0 focus-visible:translate-y-6 focus-visible:opacity-100 focus:outline-none motion-safe:transition-all" href="#content">
	{{ trans:strings.skip_to_content }}
</a>
<!-- End: /navigation/_skip_to_content.antlers.html -->
