{{#
	@name Journal index
	@desc The Journal index template.
#}}

{{ push:head }}
    {{ livewire:styles }}
{{ /push:head }}
{{ push:footer }}
    {{ livewire:scripts }}
{{ /push:footer }}

<!-- /journal/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>

{{ section:index_content }}
    <!-- /journal/index.antlers.html -->
    {{ livewire:filter-journal :site_handle="site:handle" }}
    <!-- End: /journal/index.antlers.html -->
{{ /section:index_content }}
<!-- End: /journal/index.antlers.html -->
