{{#
	@name Article
	@desc The article page builder block. It extends the prose typography partial.
    @set page.page_builder.article
#}}

<!-- /page_builder/_article.antlers.html -->
<section class="relative fluid-container grid grid-cols-12 {{ yield:background_text_compensation }}">
    {{ partial:typography/prose as="article" class="contents drop-cap" }}
        {{ article }}
            {{ partial src="components/{type}" }}
        {{ /article }}

        {{ once }}
            {{ yield:attribution }}
        {{ /once }}
    {{ /partial:typography/prose }}

    {{ partial:components/background_text }}
</section>
<!-- End: /page_builder/_article.antlers.html -->
