{{#
	@name Contact information
	@desc The Contact information page builder block.
    @set page.page_builder.contact_information
#}}

<!-- /page_builder/_contact_information.antlers.html -->
<section class="relative fluid-container grid md:grid-cols-12 gap-x-0 gap-y-8 md:gap-12 {{ yield:background_text_compensation }}">
    <div class="relative md:col-span-4 flex flex-col">
        {{ partial:typography/h1 :as="block:tag" :content="block:title" class="mb-16" }}

        {{ partial:typography/prose as="article" class="md:pl-8" }}
            {{ block:text_content }}
                {{ partial src="components/{type}" no_sizing="true" }}
            {{ /block:text_content }}
        {{ /partial:typography/prose }}
    </div>

    <div class="md:col-span-4 place-self-center">
        {{ partial:components/animation class="w-32 md:w-48" }}
    </div>

    <aside class="md:col-span-4 flex flex-col items-start md:py-12">
        <b class="mb-8 font-semibold text-lg text-neutral dark:text-white">{{ config:app:name }}</b>
        {{ partial:typography/title content="Contact" class="mb-2" }}
        {{ partial:components/button label="{ configuration:phone }" link_type="tel" tel="{ configuration:phone }" class="mb-2" }}
        {{ partial:components/button label="{ configuration:email }" link_type="email" email="{ configuration:email }" class="mb-2" }}
        {{ partial:typography/title content="KvK: { configuration:kvk }" class="mt-8" }}
        {{ partial:typography/title content="BTW: { configuration:btw }" }}
        {{ partial:typography/title content="IBAN: { configuration:iban }" }}
    </aside>

    {{ partial:components/background_text }}
</section>
<!-- End: /page_builder/_contact_information.antlers.html -->
