{{#
	@name Journal entry
	@desc The Journal entry page builder block.
    @set page.page_builder.journal_entry
#}}

<!-- /page_builder/_journal_entry.antlers.html -->
{{
    journal_entry = block:journal_entry
        ? block:journal_entry
        : ({ collection:journal sort="date:desc" limit="1" } | first)
}}
<section
    x-data="{ hover: false }"
    x-id="['project-title']"
    class="relative fluid-container grid md:grid-cols-12 md:gap-8 {{ yield:background_text_compensation }}"
>
    <a
        href="{{ journal_entry:url }}"
        class="relative md:col-span-9 md:col-start-1 md:row-span-4 md:row-start-1 border border-b-0 md:border-b border-primary dark:border-secondary p-6 pb-12 md:p-8 flex flex-col gap-y-8 justify-between group"
        @mouseover="hover = true"
        @mouseout="hover = false"
        :aria-labelledby="$id('project-title')"
        draggable="false"
    >
        {{ partial:components/journal_entry_content }}
        <div
            class="absolute inset-0 bg-primary dark:bg-secondary p-6 pb-12 md:p-8 flex flex-col space-y-8 justify-between motion-safe:transition-[clip-path] motion-safe:duration-[500ms] ease-out" aria-hidden="true"
            :class="{
                '[clip-path:circle(150%_at_120%_150%)]': hover,
                '[clip-path:circle(0%_at_120%_150%)]': !hover
            }"
        >
            {{ partial:components/journal_entry_content color="text-white" }}
        </div>
    </a>
    <a
        href="{{ journal_entry:url }}"
        draggable="false"
        :aria-labelledby="$id('project-title')"
        @mouseover="hover = true"
        @mouseout="hover = false"
        class="relative -mt-6 md:mt-0 md:col-span-5 md:col-start-8 md:row-span-4 md:row-start-2 rounded-t-lg motion-safe:transition ease-out"
        :class="{ 'md:rotate-1 md:shadow-2xl': hover }"
    >
        {{ partial:components/title_bar }}
        <figure class="w-full h-full border border-primary dark:border-secondary">
            {{ partial:components/picture :image="journal_entry:image" cover="true" lazy="true" sizes="(min-width: 768px) 75vw, 90vw"  }}
        </figure>
    </a>

    {{ partial:components/background_text }}
</section>
<!-- End: /page_builder/_journal_entry.antlers.html -->
