{{#
	@name Services
	@desc The Services page builder block.
    @set page.page_builder.services
#}}

<!-- /page_builder/_services.antlers.html -->
<section class="relative fluid-container grid md:grid-cols-12 {{ yield:background_text_compensation }}">
    <article class="relative z-10 md:col-span-7 md:col-start-1 md:row-start-2 md:row-span-3 p-8 md:p-12 grid md:grid-cols-3 gap-4 md:gap-8 bg-primary dark:bg-secondary">
        {{ partial:typography/h2 class="md:col-span-3" color="text-white" content="{ trans:strings.services }" }}
        <ul class="contents">
            {{ collection:services sort="order" }}
                {{ partial:typography/h3 class="mb-0" :content="title" }}
                {{ partial:typography/paragraph :content="teaser" class="md:col-span-2 text-white" }}
            {{ /collection:services }}
        </ul>
    </article>
    <figure class="md:col-span-6 md:col-start-7 md:row-span-3 md:row-start-1">
        {{ partial:components/picture :image="image" cover="true" lazy="true" class="grayscale" sizes="(min-width: 768px) 75vw, 90vw"  }}
    </figure>
    {{ partial:components/background_text }}
</section>
<!-- End: /page_builder/_services.antlers.html -->
