{{#
	@name Prose
	@desc The typography prose partial to render a prose object with `class` attribute.
	@param as The wrapping element. Defaults to `article`.
    @param class Add custom CSS classes.
#}}

<!-- /typography/_prose.antlers.html -->
<{{ as or 'article' }}
	class="
		prose
		dark:text-white
		prose-a:text-neutral
		prose-a:font-medium
		dark:prose-a:text-white
		prose-a:underline
		prose-a:underline-offset-4
		prose-a:decoration-primary
		prose-a:decoration-dotted
		prose-a:decoration-2
		dark:prose-a:decoration-secondary
		hover:prose-a:text-primary
		dark:hover:prose-a:text-secondary
		focus:prose-a:outline-none
		focus-visible:prose-a:ring-1
		focus-visible:prose-a:ring-primary
		dark:focus-visible:prose-a:ring-secondary
		focus-visible:prose-a:rounded-sm
		prose-blockquote:border-primary
		dark:prose-blockquote:border-secondary
		dark:prose-blockquote:text-white
		dark:prose-strong:text-white
		prose-code:rounded
		prose-code:p-1
		prose-code:bg-neutral-light
		prose-code:break-words
		dark:prose-code:bg-neutral-light/10
		dark:prose-code:text-white
		prose-code:before:hidden
		prose-code:after:hidden
		prose-h1:text-5xl
		md:prose-h1:text-6xl
		prose-h2:text-4xl
		prose-h2:mb-6
		md:prose-h2:text-5xl
		prose-h3:text-3xl
		md:prose-h3:text-4xl
		prose-figure:my-0
		prose-headings:text-neutral
		dark:prose-headings:text-white
		prose-headings:font-title
		prose-headings:font-normal
		prose-hr:border-neutral
		prose-lead:text-neutral
		prose-li:marker:text-primary
		dark:prose-li:marker:text-secondary
		prose-pre:whitespace-pre-wrap
		prose-strong:text-neutral
		max-w-none
		{{ class }}
	"
>
	{{ slot }}
</{{ as or 'article' }}>
<!-- End: /typography/_prose.antlers.html -->
