{{#
	@name Prose
	@desc The typography prose partial to render a prose object with `class` attribute.
#}}

<!-- /typography/_prose.antlers.html -->
<{{ as or 'article' }}
	class="
		prose
		dark:text-white
		prose-p:font-light
		prose-a:text-neutral
		prose-a:font-medium
		prose-a:dark:text-white
		prose-a:underline
		prose-a:underline-offset-4
		prose-a:decoration-primary
		prose-a:decoration-dotted
		prose-a:decoration-2
		prose-a:dark:decoration-secondary
		hover:prose-a:text-primary
		hover:dark:prose-a:text-secondary
		focus:prose-a:outline-none
		focus-visible:prose-a:ring
		focus-visible:prose-a:ring-primary
		focus-visible:prose-a:dark:ring-secondary
		focus-visible:prose-a:rounded-sm
		prose-blockquote:border-primary
		prose-figure:my-0
		prose-headings:text-primary
		prose-headings:font-title
		prose-headings:font-normal
		prose-hr:border-neutral
		prose-lead:text-neutral
		prose-li:marker:text-neutral
		prose-pre:whitespace-pre-wrap
		prose-strong:text-neutral
		max-w-none
		{{ class }}
	"
>
	{{ slot }}
</{{ as or 'article' }}>
<!-- End: /typography/_prose.antlers.html -->
