{{#
	@name Prose
	@desc The typography prose partial to render a prose object with `class` attribute.
#}}

<!-- /typography/_prose.antlers.html -->
<{{ as or 'article' }}
	class="
		prose
		text-white
		prose-a:text-white
		prose-a:font-medium
		prose-a:underline
		prose-a:underline-offset-4
		prose-a:decoration-white
		prose-a:decoration-dotted
		prose-a:decoration-2
		prose-a:hover:text-neutral
		prose-a:focus:outline-none
		prose-a:focus-visible:ring
		prose-a:focus-visible:ring-white
		prose-a:focus-visible:rounded-sm
		prose-blockquote:border-white
		prose-h1:text-5xl
		md:prose-h1:text-6xl
		prose-h2:text-4xl
		md:prose-h2:text-5xl
		prose-h3:text-3xl
		md:prose-h3:text-4xl
		prose-headings:text-white
		prose-headings:uppercase
		prose-headings:tracking-wider
		prose-headings:font-light
		prose-hr:border-white
		prose-lead:text-white
		prose-li:marker:text-white
		prose-strong:text-white
		max-w-none
		{{ class }}
	"
>
	{{ slot }}
</{{ as or 'article' }}>
<!-- End: /typography/_prose.antlers.html -->
