{{#
	@name Prose
	@desc The typography prose partial to render a prose object with `class` attribute.
#}}

<!-- /typography/_prose.antlers.html -->
<{{ as or 'article' }}
	class="
		prose
		dark:text-white
		prose-a:text-neutral
		prose-a:font-medium
		dark:prose-a:text-white
		prose-a:underline
		prose-a:underline-offset-4
		prose-a:decoration-primary
		prose-a:decoration-dotted
		prose-a:decoration-2
		dark:prose-a:decoration-secondary
		hover:prose-a:text-primary
		dark:hover:prose-a:text-secondary
		prose-a:focus:outline-none
		prose-a:focus-visible:ring
		prose-a:focus-visible:ring-primary
		dark:prose-a:focus-visible:ring-secondary
		prose-a:focus-visible:rounded-sm
		prose-blockquote:border-primary
		prose-h1:text-5xl
		md:prose-h1:text-6xl
		prose-h2:text-4xl
		md:prose-h2:text-5xl
		prose-h3:text-3xl
		md:prose-h3:text-4xl
		prose-figure:my-0
		prose-headings:text-primary
		prose-headings:font-title
		prose-headings:font-normal
		prose-hr:border-neutral
		prose-lead:text-neutral
		prose-li:marker:text-neutral
		prose-pre:whitespace-pre-wrap
		prose-strong:text-neutral
		max-w-none
		{{ class }}
	"
>
	{{ slot }}
</{{ as or 'article' }}>
<!-- End: /typography/_prose.antlers.html -->
